[package]
name = "wavesexchange_apis"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
bigdecimal = { version = "0.1", features = ["serde"] }
bs58 = "0.4"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
itertools = "0.10.3"
once_cell = "1.9.0"
percent-encoding = "2.1.0"
reqwest = { version = "0.11.8", features = ["json"] }
serde = { version = "1.0.132", features = ["derive"] }
serde_json = "1.0.73"
serde_qs = "0.8.5"
thiserror = "1.0.30"
tokio = { version = "1.15.0", features = ["macros", "rt-multi-thread"] }
tonic = "0.5"
waves-protobuf-schemas = { git = "https://github.com/wavesplatform/protobuf-schemas", rev = "44b306885be296bbfebcd37bef64b4dbbec8502a" }
wavesexchange_log = { path = "../wavesexchange_log" }
wavesexchange_warp = { path = "../wavesexchange_warp" }
